footer {
    margin-bottom: 160px;
}

footer ul {
    background-color: #373867;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    margin-bottom: 48px;
}

footer img {
    width: 32px;
    padding: 32px;
}

.copyright h6, .copyright p{
    margin-bottom: 16px;
    font-size: 0.6rem;
    font-weight: 700;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    footer {
        margin-left: min(30%, 320px);
    }
}