main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 844px;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 250px;
    padding-top: 50px;
    border-radius: 10px;
    background-color: #c5c5c5;
}

main article h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #373867;
}

main article form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.inputs-container label {
    margin-top: 40px;
    font-weight: 700;
    color: #373867;
}

.inputs {
    width: 200px;
    height: 25px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 6px;
}

form button {
    width: 60%;
    height: 35px;
    margin: auto;
    background-color:#373867;
    color: #46a07b;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}

form a {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    color: #46a07b;
}

.background-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 150vw;
    height: 150vh;
    top: 0;
    background-color:rgba(0, 0, 0, 0.5);
}

.modal-container {
    position: fixed;
    overflow: hidden;
    top: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #373867;
}

.modal-content {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color:  #d1d1d1;
}

.modal-header h2 {
    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
}

.modal-content p {
    font-size: 18px;
    font-weight: 600;
    color: #46a07b;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #46a07b;
    background-color: #373867;
}

.border-green {
    border-bottom: 1px solid rgb(51, 255, 51) ;
}

.border-red {
    border-bottom: 1px solid rgb(255, 1, 1);
}

main p {
    padding: 5px;
    font-size: 0.8rem;
    color: rgb(255, 1, 1);
}

@media only screen and (min-width: 768px) {
    main {
        margin-left:min(30%, 320px);
        height:900px;
    }
}