<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
			name="Description"
			content="“TRACKGENIX” is a revolutionary system designed to efficiently manage proyects, schedule flow,
			selected work teams and much more"/>
		<title>
			Sign Up
		</title>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="stylesheet" href="../css/header.css">
		<link rel="stylesheet" href="../css/aside.css">
		<link rel="stylesheet" href="../css/footer.css">
		<link rel="stylesheet" href="../css/sign-up.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
		<script src="../javascript/sign-up.js"></script>
	</head>
	<body>
		<header>
			<div class="header-container">
				<img src="../assets/img/radium-rocket-logo-img.png" alt="radium-rocket-logo-img">
				<h1>
					TRACKGENIX
				</h1>
				</h1>
				<a href="../views/home.html" class="home-login-link">
					Home
				</a>
			</div>
			<nav class="navbar-container">
				<ul>
					<li>
						<button>
							<a href="#features-section">
								Features
							</a>
						</button>
					</li>
					<li>
						<button>
							<a href="#use-trackgenix-section">
								Why Should You Use Trackgenix
							</a>
						</button>
					</li>
					<li>
						<button>
							<a href="#history-section">
								History
							</a>
						</button>
					</li>
					<li>
						<button>
							<a href="#products-section">
								Products
							</a>
						</button>
					</li>
					<li>
						<button>
							<a href="#company-section">
								About Us
							</a>
						</button>
					</li>
					<li>
						<button>
							<a href="#support-section">
								Support
							</a>
						</button>
					</li>
				</ul>
			</nav>
		</header>
		<aside class="aside-container">
			<form>
				<input type="text" class="search-input" value
				placeholder="Search">
			</form>
			<h4>
				Menu
			</h4>
			<ul>
				<li>
					<a href="../views/home.html">
						Home
					</a>
				</li>
				<li>
					<a href="../views/sign-up.html">
						Sign up
					</a>
				</li>
				<li>
					<a href="../views/login.html">
						Login
					</a>
				</li>
				<li class="contact-information-selector">
					<a href="#">
						Contact Information
					</a>
				</li>
			</ul>
			<div class="aside-img-and-copyright-wrap">
				<img src="../assets/img/radium-rocket-logo-img.png"
				alt="radium-rocket-logo-img">
				<p>
					Developed by GigaTech Software Solutions S.A
				</p>
			</div>
		</aside>
		<main>
			<form class="signup-form">
				<h2>
					Sign Up
				</h2>
				<div class="inputs-container">
					<div class="desktop-view-container-inputs-1">
						<label for="name">Name</label>
						<input type="text" name="name" class="inputs" placeholder="Name" id="name">
						<label for="Last-Name">Last-name</label>
						<input type="text" name = "lastName" class="inputs" placeholder="Last Name"
						id="last-name">
						<label for="dni">Dni</label>
						<input type="text" name = "dni" class="inputs" placeholder="DNI" id="dni">
						<label for="Date">Birth day</label>
						<input type="date" name = "dob" class="inputs" placeholder="Birth Date" id="date">
						<label for="Phone">Phone</label>
						<input type="text" name = "phone" class="inputs" placeholder="Phone" id="phone">
						<label for="Addres">Address</label>
						<input type="text"  name = "address" class="inputs" placeholder="Adress" id="address">
					</div>
					<div class="desktop-view-container-inputs-2">
						<label for="Location">Location</label>
						<input type="text" name = "city" class="inputs" placeholder="Location" id="location">
						<label for="Postal-Code">Postal Code</label>
						<input type="text" name = "zip" class="inputs" placeholder="Postal-Code" id="postal-code">
						<label for="Email">Email</label>
						<input type="text" name = "email" class="inputs" placeholder="Email" id="email">
						<label for="Password">Password</label>
						<input type="password" name = "password" class="inputs" placeholder="Password"
						id="password">
						<label for="Repeat-Password">Repeat Password</label>
						<input type="password" name = "Repeat-Password" class="inputs"
						placeholder="Repeat Password" id="repeat-password">
					</div>
				</div>
				<button id="signup-button">
					Create
				</button>
			</form>
			<div class="background-container" id="background">
				<div id="modal" class="modal-container">
					<div class="modal-header">
						<h2 id="modal-title">
						</h2>
					</div>
					<div class="modal-content" id="msg-container">
						<button class="close" id="modal-button">
							Close
						</button>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<ul>
				<li>
					<a href="https://www.facebook.com/">
						<img src="../assets/img/facebook-footer-icon.png" alt="facebook-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/">
						<img src="../assets/img/twitter-footer-icon.png" alt="twitter-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/">
						<img src="../assets/img/instagram-footer-icon.png" alt="instagram-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/feed/">
						<img src="../assets/img/linkedin-footer-icon.png" alt="linkedin-footer-icon">
					</a>
				</li>
			</ul>
			<div class="copyright">
				<h6>
					Rosario, Argentina
				</h6>
				<p>
					Copyright &copy; 2022 Gigatech Software Solutions, All rights reserved.
				</p>
			</div>
		</footer>
	</body>
</html>