<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
			name="Description"
			content="“TRACKGENIX” is a revolutionary system designed to efficiently manage proyects, schedule flow,
			selected work teams and much more"/>
		<title>
			Trackgenix-Home
		</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/aside.css">
		<link rel="stylesheet" href="/css/landing.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
				<div class="header-container">
					<img src="/assets/img/radium-rocket-logo-img.png" alt="radium-rocket-logo-img">
					<h1>
						TRACKGENIX
					</h1>
					<img src="/assets/img/rasp-menu-hamb.png" alt="hamburguer-menu-img" class="hamb-menu">
				</div>
				<nav class="navbar-container">
					<ul>
						<li>
							<button>
								<a href="#features-section">
									Features
								</a>
							</button>
						</li>
						<li>
							<button>
								<a href="#use-trackgenix-section">
									Why Should You Use Trackgenix
								</a>
							</button>
						</li>
						<li>
							<button>
								<a href="#history-section">
									History
								</a>
							</button>
						</li>
						<li>
							<button>
								<a href="#products-section">
									Products
								</a>
							</button>
						</li>
						<li>
							<button>
								<a href="#company-section">
									About Us
								</a>
							</button>
						</li>
						<li>
							<button>
								<a href="#support-section">
									Support
								</a>
							</button>
						</li>
					</ul>
				</nav>
		</header>
			<aside class="aside-container">
				<form>
					<input type="text" class="search-input" value
					placeholder="Search">
				</form>
				<h4>
					Menu
				</h4>
				<ul>
					<li>
						<a href="/views/home.html">
							Home
						</a>
					</li>
					<li>
						<a href="/views/sign-up.html">
							Sign up
						</a>
					</li>
					<li>
						<a href="/views/login.html">
							Login
						</a>
					</li>
					<li class="contact-information-selector">
						<a href="#contact-form">
							Contact Information
						</a>
					</li>
				</ul>
				<div class="aside-img-and-copyright-wrap">
					<img src="/assets/img/radium-rocket-logo-img.png"
					alt="radium-rocket-logo-img">
					<p>
						Developed by GigaTech Software Solutions S.A
					</p>
				</div>
			</aside>
		<main>
			<section class="welcome-section">
				<div class="welcome-title-container">
					<h2>
						WELCOME
					</h2>
				</div>
				<article class="first-section-img-and-text-container">
						<img src="/assets/img/landing-section-img.png"
						alt="first-section-img"/>
						<p class="welcome-section-text">
							Welcome to “TRACKGENIX” is a revolutionary system designed for GigaTech Software
							Solutions SA. This system will allow them to efficiently manage their
							proyects, schedule flow, selected work teams and much more.
						</p>
				</article>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="application-features-container" id="features-section">
				<h2>
					Application Features
				</h2>
				<article>
					<div class="application-img-and-text-wraper">
						<h3>
							Hours Log
						</h3>
						<img
						src="/assets/img/hours-log-img.png" alt="hours-log-img"/>
					</div>
					<div class="application-img-and-text-wraper">
						<h3>
							Reports
						</h3>
						<img src="/assets/img/reports-img.png" alt="reports-img"/>
					</div>
				</article>
				<article>
					<div class="application-img-and-text-wraper">
						<h3>
							Resource Management
						</h3>
						<img src="/assets/img/resource-management-img.png"
						alt="resource-management-img"/>
					</div>
					<div class="application-img-and-text-wraper">
						<h3>
							Multiple Roles
						</h3>
						<img src="/assets/img/multiple-roles-img.png" alt="multiple-roles-img"/>
					</div>
				</article>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="why-should-use-TG-container" id="use-trackgenix-section">
				<h2>
					Why you should use Trackgenix?
				</h2>
				<div class="why-use-TG-articles-wrap">
					<article>
						<div class="use-trackgenix-text-container">
							<h3>
								Productivity Booster
							</h3>
							<p>
								Be more productive using better Focus, Time Management,Organization
								and Efficiency
							</p>
						</div>
						<div class="Why-you-should-background">
							<img src= "/assets/img/productivity-booster.png" alt="productivity-booster-img"/>
						</div>
					</article>
					<article>
						<div class="use-trackgenix-text-container">
							<h3>
								Work Traceability
							</h3>
							<p>
								Keep track of specs, changes, requests, results, and versions
							</p>
							<div class="background-work-traceability"></div>
						</div>
						<div class="Why-you-should-background">
							<img src="/assets/img/work-traceanility.png"
							alt="work-traceability-img"/>
						</div>
					</article>
				</div>
				<div class="why-use-TG-articles-wrap">
					<article>
						<div class="use-trackgenix-text-container">
						<h3>
							Leadership and team management
						</h3>
						<p>
							Lead a group of people in accomplishing a task or common goal.
							Effective team management involves supporting, communicating with
							and uplifting team members so they perform to the best of their
							abilities and continue to grow as professionals.
						</p>
						</div>
						<div class="Why-you-should-background">
							<img src="/assets/img/leadership-management.png"
							alt="leadership-management-img"/>
						</div>
					</article>
					<article>
						<div class="use-trackgenix-text-container">
							<h3>
								Decision making
							</h3>
							<p>
								Make better decisions for your business
							</p>
						</div>
						<div class="Why-you-should-background">
							<img src="/assets/img/decision-making.png"
							alt="decision-making-img"/>
						</div>
					</article>
				</div>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="inscription-form-section" id="contact-form">
				<h2>
					Inscription Form
				</h2>
				<form>
					<div class="inputs-container">
						<div class="name-email-input-container">
							<input
							type="text" name="name" placeholder="Name"/>
							<input
							type="text" name="email" placeholder="Email"/>
						</div>
							<select>
							<option hidden selected id=>
								-Choose Contact Area-
							</option>
							<option>
								Human Resources
							</option>
							<option>
								Systems
							</option>
							<option>
								Merchandising
							</option>
						</select>
					</div>
					<div class="checkbox-container">
						<div class="email-container">
							<input type="checkbox"><label>Email me a Copy</label>
						</div>
						<div class="human-container">
							<input type="checkbox"><label>I am a human <div class="human-tablet-pc-hidden">and I accept
							terms of service</div></label>
						</div>
					</div>
					<h5>
						Text
					</h5>
					<div class="text-area-container">
						<textarea name="textarea" placeholder="Enter your text here..."></textarea>
					</div>
					<div class="button-container">
						<input
						type="submit" name="submit" value="Submit">
					</div>
				</form>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="company-mission-section" id="history-section">
				<article class="company-mission-wrap">
					<div class="company-titles-container">
						<div class="company-mission-title-container">
							<h2>
								Company`s Mission
							</h2>
						</div>
						<div class="company-subtitle-wrapper">
							<h3>
								WHERE WE STARTED;
							</h3>
							<h3 class="where-we-are-headed-underline">
								WHERE WE ARE HEADED
							</h3>
						</div>
					</div>
					</div>
					<img src="/assets/img/radium-rocket-logo-img.png" alt="company-mission-RR-logo"
					class="company-mission-radium-rocket-logo">
				</article>
				<article class="company-mission-make-time-ally">
					<h4>
						Make time your ally; make puntuality the difference
					</h4>
					<p>
						Our mission is to allow workers all over the world to reach their full potential. Our goal
						is to bring more power to start-ups through top-notch and user-friendly time-tracking web
						apps,easily accessible through any device. We believe in integrity, honesty, passion for our
						client’s ideas and communication.
					</p>
				</article>
				<article class="hear-they-say-us">
					<h3>
						HEAR WHAT THEY SAY ABOUT US
					</h3>
					<P>
						“TrackGenix allows us to effortlessly and easily track total workflow in each of our
						projects and make a balanced distribution of team workload”
					</P>
					<p class="stisfied-customer">
						-Satisfied Customer
					</p>
				</article>
				<article class="about-us-section">
					<h3>
						About Us
					</h3>
					<div class="about-us-text-img-wrapper">
						<p>
							RadiumRocket developed TrackGenix as a software solution for optimal time-tracking and
							project	management as a request for one of its most trusted clients, GigaTech Software
							Solutions, in late 2021, and swiftly became one of the most requested services in all of
							the	million-dollar South American productivity industry. RadiumRocket are a group of
							passionate	people fond of the latest cutting edge technologies in software development.
							They position ourselves at your side through all the process of development being
							responsible and co-workers with you to successfully get your product moving.
						</p>
						<div class="security-img-container">
							<img src="/assets/img/security-about-us-img.png" alt="security-img">
						</div>
					</div>
				</article>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="our-products-section" id="products-section">
				<h2>
					Our Products
				</h2>
				<div class="our-products-two-sections-wrapper">
					<article class="our-products-container">
						<img src="/assets/img/employee-time-control-img.png" alt="employee-time-control-img">
						<h3>
							Employee time control from any place and device
						</h3>
						<p class="app-subtitle">
							A simple app for recording the day for any
							situation:
						</p>
						<ul>
							<li>
								Web
							</li>
							<li>
								Mobile app
							</li>
							<li>
								Kiosk with tablet
							</li>
							<li>
								Biometric recognition devices
							</li>
						</ul>
					</article>
					<article class="our-products-container">
						<img src="/assets/img/customized-working-img.png" alt="customized-working-img">
						<h3>
							Customized working day registration policies
						</h3>
						<p class="app-subtitle">
							Customize the mandatory registration of the working day with a completely
							flexible app to clock in at work. Apply	more restrictive measures:
						</p>
						<ul>
							<li>
								Espected transfer in one click
							</li>
							<li>
								Weakly massive transfer
							</li>
							<li>
								Flexible entry and exit
							</li>
						</ul>
					</article>
				</div>
				<div class="our-products-two-sections-wrapper">
					<article class="our-products-container">
						<img src="/assets/img/most-intuitive-img.png" alt="intuitive-time-control-img">
						<h3>
							The most intuitive time	control app
						</h3>
						<p>
						Registration of the day from anywhere to promote teleworking and self
						-management of time.
					</p>
					<ul>
						<li>
							24 hours access from anywhere
						</li>
						<li>
							Geolocated transfer detection system
						</li>
						<li>
							Instant notifications and alerts
						</li>
					</ul>
					</article>
					<article class="our-products-container">
						<img src="/assets/img/project-management-img.png" alt="project-management-img">
						<h3>
							Project Management Done	Well
						</h3>
						<p>
							Advanced controls and features to effortlessly control all your projects
						</p>
						<ul>
							<li>
								Browse between different projects
							</li>
							<li>
								Equipped with graphs and tables
							</li>
						</ul>
					</article>
				</div>
			</section>
			<div class="line-division-container">
				<div class="section-line-division"></div>
			</div>
			<section class="company-section" id="company-section">
					<h2>
						Company
					</h2>
					<article>
						<img src="/assets/img/gigatech-building-img.png" alt="gigatech-building-img">
						<div class="company-txt-wrap">
							<h3>
								GigaTech Software Solutions SA building.
							</h3>
							<p>
								Trackgenix is ​​a HR software company that streamlines human resource management for
								clients in more than 1,200 cities around the world..
							</p>
						</div>
					</article>
					<article class="company-an-inclusive-wrap">
						<img src="/assets/img/inclusive-workplace-img.png"
						alt="inclusive-workplace-img">
						<div class="company-txt-wrap">
							<h3>
								An inclusive workplace for everyone
							</h3>
							<p>
								Get to know our team and our offices and join us in our	leap towards better human
								esources management.	Learn how companies from all sectors already
								manage talent in a more efficient and humane way with our human resources software.
							</p>
						</div>
					</article>
					<article>
						<img src="/assets/img/our-workplace-img.png" alt="our-workplace-img">
						<div class="company-text-wrap">
							<h3>
								Our workplace, our world
							</h3>
							<p>
								Trackgenix was created remotely in 2008 by Yves Hiernaux and Mic Cvilic after many
								years of working with hard-to-manage and even harder-to-understand reports and
								timesheets. Although we have grown, we continue with the same goal of offering a
								flexible, reliable and easy-to-use time control tool.
							</p>
						</div>
					</article>
				</section>
				<div class="line-division-container">
					<div class="section-line-division"></div>
				</div>
				<section class="support-section" id="support-section">
					<h2>
						Support
					</h2>
					<div class="support-img-text-container">
						<article class="support-img-and-text-container">
							<img src="/assets/img/phone-call-img.png"
							alt="phone-call-img">
							<p>
								Phone call or Video conference support
								from 8am to 4pm everyday
							</p>
						</article>
						<article class="support-img-and-text-container">
							<img src="/assets/img/software-support-img.png" alt="software-support-img">
							<p>
								24h support by online chat-bot
							</p>
						</article>
					</div>
				</section>
				<section class="tutorial-section">
					<h2>
						Tutorials
					</h2>
					<article class="tutorials-list-container">
						<ol>
							<li>
								<div class="texto-li">
									"TrackGenix: Quick Start Guide"
									<div class="tutorial-time">05:10</div>
								</div>
							</li>
							<li>
								<div class="texto-li">
									"How to set up TrackGenix for your company: In-depth guide" <div
									class="tutorial-time">31:02</div>
								</div>
							</li>
							<li>
								<div class="texto-li">
									"Project Management using TrackGenix" <div class="tutorial-time">22:15</div>
								</div>
							</li>
							<li>
								<div class="texto-li">
									"Unlocking Max Productivity: Advanced Tips and Tricks for Workers"
									<div class="tutorial-time">12:40</div>
								</div>
							</li>
							<li>
								<div class="texto-li">
									"Report Reviews Guide" <div class="tutorial-time">09:10</div>
								</div>
								</li>
							<li>
								<div class="texto-li">
									"Google Calendar & other web services integration"<div
									class="tutorial-time">11:25</div>
								</div>
							</li>
						</ol>
							<a class="tutorial-button" href="https://www.youtube.com/">
								<button>
									Browse Full Playlist on YouTube
								</button>
							</a>
					</article>
				</section>
		</main>
		<footer>
			<ul>
				<li>
					<a href="https://www.facebook.com/">
						<img src="/assets/img/facebook-footer-icon.png" alt="facebook-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/">
						<img src="/assets/img/twitter-footer-icon.png" alt="twitter-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/">
						<img src="/assets/img/instagram-footer-icon.png" alt="instagram-footer-icon">
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/feed/">
						<img src="/assets/img/linkedin-footer-icon.png" alt="linkedin-footer-icon">
					</a>
				</li>
			</ul>
			<div class="copyright">
				<h6>
					Rosario, Argentina
				</h6>
				<p>
					Copyright &copy; 2022 Gigatech Software Solutions, All rights reserved.
				</p>
			</div>
		</footer>
	</body>
</html>