<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
			name="Description"
			content="“TRACKGENIX” is a revolutionary system designed to efficiently manage proyects, schedule flow,
			selected work teams and much more"/>
		<title>
			Login
		</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/login.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <script src="../javascript/login.js"></script>
	</head>
	<body>
		<header>
				<div class="header-container">
					<img src="/assets/img/radium-rocket-logo-img.png">
					<h1>
						TRACKGENIX
					</h1>
					<a href="/views/home.html" class="home-login-signin ">
						Home
					</a>
				</div>
		</header>
        <main>
            <article>
                <h1>
                    Login
                </h1>
                <form>
                    <div class="inputs-container">
                        <input type="text" class="inputs"
                        id="form-input-email" placeholder="Email">
                        <input type="texto" class="inputs" id="form-input-password" placeholder="Password">
                    </div>
                    <button id="login-button">
                        Login
                    </button>
					<a href="/views/sign-up.html">
						Sign Up
					</a>
                </form>
            </article>
		</main>
	</body>
</html>