<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
			name="Description"
			content="“TRACKGENIX” is a revolutionary system designed to efficiently manage proyects, schedule flow,
			selected work teams and much more"/>
		<title>
			Sign In
		</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/sign-up.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <script src="../javascript/sign-up.js"></script>
	</head>
	<body>
		<header>
				<div class="header-container">
					<img src="/assets/img/radium-rocket-logo-img.png">
					<h1>
						TRACKGENIX
					</h1>
					<a href="/views/home.html" class="home-login-signin ">
						Home
					</a>
				</div>
		</header>
        <main>
            <article>
                <h1>
                    Sign Up
                </h1>
                <form>
                    <div class="inputs-container">
                        <input type="text" class="inputs" placeholder="Name" id="name">
                        <input type="text" class="inputs" placeholder="Last Name" id="last-name">
                        <input type="text" class="inputs" placeholder="DNI" id="dni">
                        <input type="date" class="inputs" placeholder="Birth Date" id="birth-day">
                        <input type="text" class="inputs" placeholder="Phone" id="phone">
                        <input type="text" class="inputs" placeholder="Adress" id="adress">
                        <input type="text" class="inputs" placeholder="Location" id="location">
                        <input type="text" class="inputs" placeholder="Postal Code" id="postal-code">
                        <input type="text" class="inputs" placeholder="Email" id="email">
                        <input type="text" class="inputs" placeholder="Password" id="password">
                        <input type="text" class="inputs" placeholder="Repeat Password" id="repeat-password">
                    </div>
                    <button id="signup-button">
                        Sign up
                    </button>
                </form>
            </article>
		</main>
	</body>
</html>
