.border-green {
    border: 1px solid rgb(51, 255, 51) ;
}

.border-red {
    border: 1px solid rgb(255, 1, 1);
}

.inscription-form-section p {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(255, 1, 1);
}

@media only screen and (min-width: 768px) {
    .input-p-container {
        width: 100%;
    }
    .name-email-input-container input {
        width: 95%;
        text-align: center;

    }
}