* {
    margin: 0;
    padding: 0;
    text-decoration: none;    
}

html, body {
    overflow-x: hidden;
}

body {
    height: 9787px;
    font-family: 'Roboto', sans-serif;

}
main {    
    position: relative;
    width:1259px ;
    top:146px;
    margin-left: 253px;
}

header {
    position: fixed;
    width: 1512px;
    height: 91px;
    background-color: #373867;
    box-sizing: border-box;
    z-index: 100;
}

nav {
    position: relative;
    width: 1260px;
    height: 55px;
    top: 88px;
    float: right;
    box-sizing: border-box;
    background-color: #373867;
}


.aside-container {
    position: fixed;
    width: 253px;
    height: 851px;
    top: 91px;
    z-index: 1;
    background: #3738671A;
}

ul {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
}

.header-trackgenix-title {
    position: absolute;
    width: 100%;
    bottom: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-size: 60px;
    text-align: center;
    color: #46a07B;
}

.header-radium-rocket-logo {
    position: relative;
    width: 65px;
    height: 67px;
    top: 12px;
    left: 26px;
}

.element-li-navbar {
    display: inline;
    width: 210px;
    float: left;
    border: 1px solid black;
    border-top: none;
    box-sizing: border-box;
}
.element-a-navbar {
    display: block;
    color: #46a07B;
    border: none;
    font-size: 20px;
    box-sizing: border-box;
}

.element-button-navbar {
    width: 210px;
    height: 55px;
    background-color: #373867;
    border: none;
}

.element-a-navbar:hover {
    text-shadow: 0 0 5px  #fff;
}

.search-input {
    position: relative;
    width: 236px;
    height: 30.49px;
    top: 20px;
    left:8px ;
    border-radius: 3.42px;
    box-sizing: border-box;
    background: url("../assets/img/search-icon.jpeg") no-repeat right;
    background-size: 15px;
}

.aside-title {
    position: relative;
    top: 41px;
    left: 92px;
    color: #373867;
    font-size: 19.37px;
    z-index: 1;
}

.aside-li-selector {
    position:relative;
    display:block;
    height: 64px;
    left: 46px;
    top: 43px;
}

.aside-links {
    position: relative;
    display: block;
    width: 142px;
    padding-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    text-align: center;
    font-size: 14.64px;
    color: #46a07B;
}

.contact-inf-aside{
    position: relative;
    display: block;
    width: 142px;
    padding-top: 20px;    
    padding-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    text-align: center;
    font-size: 14.64px;
    color: #46a07B;
}

.aside-links:hover {
    text-shadow: 2px 3px 5px rgba(0,0,0,0.6),
                -1px -1px 0 #fff,
                0   -1px 0 #fff,
                1px -1px 0 #fff,
                1px  0   0 #fff,
                1px  1px 0 #fff,
                0    1px 0 #fff,
                -1px  1px 0 #fff,
                -1px  0   0 #fff;
}

.aside-radium-rocket-logo {
    position: relative;
    width: 66px;
    height: 75px;
    left: 95px;
    top: 257px;
    text-align: center;
}

.aside-text {
    position: absolute;
    top: 649px;
    left: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-size: 11px;
}
.section-line-division{    
    position: relative;
    width: 1050px;
    height: 1px;
    left: 149px;
    background-color: #373867;
}

.welcome-section {    
    width: 1259px;
    height: 840px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.79) 0%, rgba(222, 239, 240, 0.79) 18.75%, rgba(229, 242, 244, 0.79) 35.94%, rgba(203, 228, 216, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}

.welcome-background-blur{
    position: absolute;
    width: 307px;
    height: 81px;
    margin-left: 474px;
    top: 45px;
    background: rgba(170, 206, 155, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
    filter: blur(4px);
    box-sizing: border-box;
}

.welcome-title {
    position: relative;
    display: inline-block;
    top: 47px;
    left: 476px;
    font-size: 49.36px;
    padding-left: 36px;
    padding-bottom: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-weight: 400;
    color: #373867;
    border-radius: 20px;
}

.welcome-section-paragraph {
    position: relative;
    width: 546px;
    top: 268px;
    margin-left: 134px;
    font-size: 28.85px;
}

.welcome-section-img {
    position: relative;
    width: 500px;
    height: 272.52px;
    top: 10px;
    left: 720px;
    margin-right: 34.14px;
}

.application-features-section{
    position: relative;    
    top: 191px;
    height: 1124px;   
}

.application-features-title {
    position: relative;
    left: 177px;
    font-size: 40px;
    color: #373867;
}

.application-title-and-img {
    position: relative;
    display: block;
    width: 50%;
    height: 333px;
    box-sizing: border-box;
    margin-top: 52px;
    text-align: center;
    float: left;
}

.each-application-title {
    font-size: 30px;
    color: #373867;
}

.aplication-img{
    position: relative;
    height: 240px;
    top: 20px;
    padding: 20px;
    border-radius: 20px;
}

.background-productivity{
    position: absolute;
    width: 131.25px;
    height: 125px;
    margin-left: 140px;
    background-color: #AACE9B4D;
    transform: rotate(45deg);
}

.background-work-traceability{
    position: absolute;
    width: 131.25px;
    height: 125px;
    margin-left:108px ;
    background-color:#AACE9B4D;
    transform: rotate(45deg);
}

.background-leadership-team{
    position: absolute;
    width: 131.25px;
    height: 125px;
    margin-left:125px ;
    background-color:#AACE9B4D;
    transform: rotate(45deg);
    
}
.background-decision-making{
    position: absolute;
    width: 131.25px;
    height: 125px;
    margin-left:134px ;
    background-color:#AACE9B4D;
    transform: rotate(45deg);
}

.why-should-use-tg-section{
    position: relative;
    height: 1016px; 
   
}
.why-should-use-tg-section-title{
    position: relative;
    top: 131px;
    font-size: 40px;
    text-align: center;
    color: #373867;
}

.use-trackgenix-subtitles{   
    position: relative;
    left: 289px;
    font-size: 30px;    
    color: #373867;}  

.use-trackgenix-tite-img-text-container p{
        width: 50%;
        font-size: 20px;
        box-sizing: border-box;
        float: right;
        
}

.use-trackgenix-tite-img-text-container{
    position: relative;
    display: block;
    width: 50%;
    height: 209px;
    right: 107px;
    top: 272px;
    float: left;
}

.use-trackgenix-each-img{
    position: relative;
    left: 140px;
}

.work-trace-text{
    position: relative;
    top: 33px;
}

.decison-making-text{
    position: relative;
    top: 33px;
}

.leadership-text{
    position: relative;
    top: 23px;
}

.productivity-booster-text{
    position: relative;
    top: 23px;
}

.inscription-form-section{
    position: relative;
    height: 981px;
    
}
.inscription-form-title{
    position: relative;
    top: 47px;
    left: 76px;
    font-size: 24px;
    text-decoration: underline;
}

.input-name{
    position: relative;
    width: 554px;
    height: 37px;
    top: 117px;
    left: 86px;
}
.input-email{
    position:relative;
    display: inline-block;
    width: 554px;
    height: 37px;        
    top:76px;
    margin-left: 657px;
}

.contact-area{
    position: relative;
    width: 1128px;
    height: 37px;
    top: 127px;
    left: 86px;
}

.contact-area option{
    position: relative;
    width: 1128px;
    box-sizing: border-box;
}

.inscrption-form-toggle-conteiner {
    display: inline-block;
    width: 41%;
    margin-bottom: 84px;
    margin-top: 285px;
    margin-left: 95px;
}

.inscrption-form-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: text-top;
}

.inscrption-form-switch-input {
    width: 0;
    height: 0;
    opacity: 0;
}

.inscrption-form-switch-text {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    vertical-align: sub;
    color: #000000;
}

.slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    content: "";
    transition: .4s;
}

.inscrption-form-switch-input:checked+.slider {
    background-color: #373867;
}

.inscrption-form-switch-input:focus+.slider {
    box-shadow: 0 0 1px #373867;
}

.inscrption-form-switch-input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inscrption-form-switch-input {
    font-weight: 800;
    font-size: 16px;
    margin: 50px 0 20px 0;
}
 
form input {
    border-radius: 4px;
}

.textarea-title{
    position: absolute;
    display: inline-block;
    top:520px;
    right: 1130px;
    text-align: center;
    font-size: 16px;  
}

.form-textarea {
    position: relative;
    width: 1115px;
    height: 323px;
    top:13px;
    left: 50px;
    border-radius: 4px;
}

.form-submit-button {
    position: relative;
    width: 100px;
    height: 40px;
    top: 60px;
    right: 55px;
    background-color: #373867;
    color: #46a07B;
    border-radius: 10px;
  
}

.company-mission-section {
    height: 1071px;
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.5135) 1.57%,rgba(88, 151, 159, 0.2212) 19.27%, rgba(71, 147, 129, 0.1343) 35.94%,rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}

.company-misson-title {
    position: relative;
    margin-left: 56px;
    top: 94px;
    font-size:20.53px;
    text-decoration: underline;
}

.company-mission-subtitle {
    position: relative;
    top: 124px;
    margin-left: 56px;
    font-size: 30.79px;
    color: #373867;
}

.company-mission-make-time-title {
    position: relative;
    top: 170px;
    margin-left: 510px;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
}

.company-mission-text {
    position: relative;
    top: 215px;
    font-size: 18.75px;
    text-align: center;
}

.hear-they-say-title {
    position: relative;
    top: 244px;
    margin-left: 56px;
    font-size: 27.37px;
    color: #373867;
}

.quotation-text {
    position:relative;
    top: 216px;
    margin-right: 80px;
    margin-left: 61px;
    padding: 8px;
    font-size: 17.25px;
    text-align: right;
    background-color:rgba(217, 217, 217, 0.2);;
    border-radius: 5.99px;
}

.vertical-borser-quotation {
    position: relative;
    width: 4px;
    height: 60px;
    top:266px;
    left: 60px;
    background-color:#d9d9d9;
}

.about-us-title {
    position: relative;
    font-size: 24px;
    color: #373867;
    top: 342px;
    left: 56px;
}

.about-us-text {
    position: relative;
    width: 769px;
    height: 251px;
    top: 378px;
    margin-left: 45px;
    font-size: 22px;
}

.about-us-img {
    position: relative;
    width: 363px;
    height: 251px;
    top: 135px;
    margin-left: 858px;
}

.our-products-section {
    position: relative;
    display: block;
    height: 1378px;    
}

.our-products-img {
    position: relative;
    margin-left: 110px;
    width: 384px;
    height: 284px;
}

.our-products-subtitle {
    position: relative;
    font-size: 23.75px;
    text-align: left;
    margin-left: 162px;
}

.our-products-article {
    position: relative;
    top: 153px;
    float: left;
    width: 50%;    
    height:531px ;
    margin-bottom: 95px;}

.our-products-text {
    margin-left: 162px;
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
}
.our-products-title {
    position: relative;
    font-size: 30px;
    top: 95px;
    margin-left: 75px;
}

.our-products-article li {
    position: relative;
    margin-top: 7px;
    margin-left: 193px;
    padding-left: 20px;
    font-size: 20px;
    list-style-type: disc;
}
.project-mnagment-img {
    height: 276px;
    margin-left: 110px;
}

.company-section{
    height: 1277px;
}

.company-title {
    position: relative;
    margin-top: 49px;
    margin-left: 75px;
    font-size: 30px;
    text-decoration: underline;
}

.companys-img {
    position: relative;
    width: 477px;
    height: 304px;
}

.company-building-img {
    position: relative;
    display: inline-block;
    width: 477px;
    height: 304px;
    margin-top: 103px;
    margin-left: 64px;
}

.gigatech-building-title {
    position: relative;
    font-size: 26px;
    margin-bottom: 20px;
}

.gigatech-text-container {
    width: 527px;    
    margin-top: 118px;
    margin-right: 173px;
    float: right;
}

.gigatech-building-text {
    margin-left: 38px;    
    font-size: 21px;
}

.inclusive-workplace-img {
    position: relative;
    width: 477px;
    height: 304px;
    margin-top: 27px;
    margin-right: 61px;
    float: right;
}

.inclusive-workplace-title {
    position: relative;
    margin-left: 81px;
    font-size: 26px;
    margin-bottom: 20px;
}

.inclusive-workplace-text-container {
    display: inline-block;
    position: relative;
    width: 541px;
    height: 304px;
    margin-top: 95px;
    margin-left: 148px;
}

.inclusive-workplace-text {
    position: relative;
    margin-left: 22px;
    font-size: 20px;
}

.our-workplace-img {
    display: inline-block;
    width: 438px;
    height: 285px;
    margin-left: 76px;
}

.our-workplace-text-container {
    width: 520px;
    height: 195px;
    margin-right: 210px;
    margin-top:14px;
    float: right;
}

.our-workplace-text {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.our-workplace-title {
    margin-bottom: 38px;
    font-size: 26px;
}

.support-title {
    position: relative;
    display: block;
    margin-top: 126px;
    margin-bottom: 84px;
    margin-left: 94px;    
    font-size: 30px;
    text-decoration: underline;
}

.phonecall-article {    
    width: 50%;
    margin-left: 64px;
    float: left;        
}

.phone-call-text {
    width: 505px ;
    font-size: 23px;   
    text-align: center; 
}   

.phonecall-img {
    width: 505px;
    height: 282px;
}

.software-support-article {
        text-align: center;
}

.software-support-img {
    width: 437px;
    height: 288;
}

.software-support-text {
    display: inline-block;
    width: 437px;
    font-size: 23px; 
}

.tutorial-section {
    height: 718px;
}

.tutorials-title {
    margin-top: 74px;
    margin-left: 94px;
    font-size: 34px;
}

.tutorial-list {
    margin-left: 144px;
    margin-top: 49px;
}

.turorial-list-item {    
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}
.tutorial-time-container {    
    display: inline-block;
    margin-right: 84px;
    float: right;
    color: #1d22ec;
}

.tutorial-button {
        width: 480px;
        height: 116px;
        margin-top: 102px;
        margin-left: 389px;
        border-radius: 30px;
        background-color: #98220D;
}

.tutorial-button {
    font-size: 26px;    
    font-weight: 700;
    font-style: italic;
    color: #fff;
    
}

.footer {
    position: relative;    
    height: 74px;
    margin-top: 173px;
    margin-left: 253px;   
    background-color: #373867;       
}

.footer-list {
    position: relative;
    width: 100%;   
    text-align: center;
}

.footer-list-item{
    display: inline-block;
    margin-top: 14px;    
    padding-right: 80px;
}


.copyright {   
    width: 100%;
    margin-top: 96px;    
    text-align: center;
}

.copyright-location {
    margin-bottom: 14px;
    font-size: 14px;
}

.copyright-text {
    margin-bottom: 117px;
    font-size: 14px;
}