@media only screen and (max-width: 768px) {
    .aside-container {
      display: none;
    }
}

aside{
  flex-grow: 1;
  position: fixed;
  width: 30%;
  top: 9.5rem;
  background: #3738671A;
}

.search-input {
  width: 80%;
  height: 1.7rem;
  margin-left: 0.7rem;
  padding-right: 1.5rem;
  background: url("../assets/img/search-icon.jpeg") no-repeat right;
  background-size: 1.3rem;
  border-radius: 0.25rem;
}

.aside-container h4 {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  color: #373867;
}

.aside-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-container li {  
  width: 9rem;
  height: 2.6rem;
  margin-top: 1.1rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #000;
}

#contact-information-selector {
  border-bottom: none;
  margin-bottom: 20rem;
}

.aside-container a {
  font-size: 1rem;
  font-weight: 400;
  color: #479679;
}

.aside-img-and-copyright-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside-container img {
  max-width: 30%;
  margin-bottom: 1.2rem;
}

.aside-container p {
  font-size: 0.6rem;
}