.header-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    margin-bottom: 1.5rem;
    top: 0;
    background: #373867;
    z-index: 1;
}

.header-container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #46a07b;  
}

nav {
    display:none
}

@media only screen and (min-width: 768px) {
    nav {
        display:block;
    }

    .header-container {
        margin-bottom: 0;
    }
    
    .hamburguer-menu {
        visibility: hidden;    
    }
    main {
        margin-top: 7rem;
    }
}

.navbar-container {
    width: 70%;
    background-color: #373867;
    position: fixed;
    float: right;
    top: 5.5rem;
    left: 30%;
    z-index: 1;
} 

.navbar-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 56px;
}

.navbar-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.5%;
    height: 100%;
    border: 1px solid #000;
    border-right: none;
}

.navbar-container button {
    width: 100%;
    border: none;
    background: none;
}

.navbar-container a {
    font-size: 0.6rem;
    font-weight: 400;
    color: #479679;
}