.welcome-section {
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.6399) 1.57%, rgba(88, 151, 159, 0.2212) 19.27%, rgba(71, 147, 129, 0.1343) 35.94%, rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}

.welcome-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-top: 3.5rem;
}

.welcome-title-container h2 {
    margin-top: 5rem;
    padding: 0.6rem 1.8rem;
    background: linear-gradient(0deg, rgba(170, 206, 155, 0.53), rgba(170, 206, 155, 0.53));
    border: 0.2rem solid #94a08f ;
    border-radius: 1rem;
    font-size: 2.5rem;
    color: #373867;
}

.first-section-img-and-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-section-img-and-text-container img {
    max-width: 55%;
    margin-bottom: 4rem;
    margin-right: 1rem;
    margin-left: 2rem;  
}

.first-section-img-and-text-container p {
    width: 80%;
    margin-bottom: 7rem;
    font-size: 1.3rem;
}

@media only screen and (min-width: 1200px) {
    .first-section-img-and-text-container {
        flex-direction: row;
    }
    .first-section-img-and-text-container img {
        order: 1;
    }
}

.line-division-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6.4rem;
}

.section-line-division {
    height: 1px;
    width: 60%;
    background-color: #000;
}

.application-features-container h2 {
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #373867;
    text-align: center;
}

.application-features-container article {
    display: flex;
    margin-bottom: 4.5rem;
}

.application-img-and-text-wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.application-img-and-text-wraper h3 {
    margin-bottom: 0.8rem;
    color: #373867;
    font-size: 1.1rem;
    font-weight: 700;
}

.application-img-and-text-wraper img {
    background-color: #AACE9B4D;
    width: 50%;
}

.why-should-use-TG-container {
    margin-top: 3.7rem;
    margin-bottom: 6.4rem;    
}

.why-use-TG-articles-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;      
}

.why-should-use-TG-container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #373867;
    text-align: center;
}

.why-use-TG-articles-wrap article {    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 14rem; 
}

@media only screen and (min-width: 1200px) {
    .why-use-TG-articles-wrap {
        flex-direction: row;
    }
    .why-use-TG-articles-wrap article {
        width: 50%;
    }
}

.use-trackgenix-text-container{
    margin: auto;
    padding: 1rem;
    width: 60%;
}

.use-trackgenix-text-container h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #373867;
}

.use-trackgenix-text-container p {
    font-size: 1rem;
    font-weight: 400;
    color: #373867;
}

.Why-you-should-background {
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 1.5rem;
    background: #AACE9B4D;
}

.why-use-TG-articles-wrap article img {
    width: 70%;
    padding: 1.2rem;
    transform: rotate(315deg);
}

.inscription-form-section h2 {
    margin-left: 1.3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: underline;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.name-email-input-container {
    width: 100%;
    text-align: center;
}

.inputs-container input, 
.inputs-container select {
    width: 80%;
    height: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5.5rem;
}

.human-tablet-pc-hidden {
    display: none;
    font-size: 0.8rem;
}

.checkbox-container label {
    font-size: 0.8rem;
    font-weight: 500;
}

form h5 {
    visibility: hidden;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 4rem;
    margin-top: 3rem;
}

@media only screen and (min-width: 768px) {
    form h5 {
      visibility: visible;
    }
    .human-tablet-pc-hidden {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    .name-email-input-container {
        display: flex;
        width: 80%;
    }
    .name-email-input-container input {
        width: 50%;
        margin-right: 0.5rem;
    }    
}

.text-area-container {
    display: flex;
    justify-content: center;
    margin-top: 1.7rem;
}

.text-area-container textarea {
    width: 85%;
    height: 24rem;
    border-radius: 0.25rem;
}

.button-container {
    display: flex;
    justify-content: end;
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.button-container input {
    background-color: #373867;
    color: #46a07b ;
}

.company-mission-section {    
    background: linear-gradient(180deg, rgba(198, 226, 230, 0.5925) 1.57%, rgba(88, 151, 159, 0.2212) 19.27%, rgba(71, 147, 129, 0.1343) 35.94%, rgba(165, 207, 187, 0.1027) 58.33%, rgba(255, 255, 255, 0) 83.85%);
}

.company-mission-wrap {
    display: flex;
    justify-content: space-around;
}

.company-titles-container {
    display: flex;
    flex-direction: column;
}

.company-mission-title-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 2.3rem;
    margin-bottom: 1.8rem;
    background-color:rgba(71, 74, 250, 0.24);
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.company-mission-title-container h2 {
    padding: 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
}

.company-mission-section img {
    width: 6rem;
    height: 7rem;
    margin-right: 0.5rem;
}

.company-titles-container h3 {
    margin-left: 0.2rem;
    color: #373867;   
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: underline #8FD5C8;
}

@media only screen and (min-width: 768px) {
    .company-subtitle-wrapper {
        display: flex; 
}
}

.company-titles-container .where-we-are-headed-underline {
    text-decoration: underline #000;
}

.company-mission-make-time-ally {
    margin-left: 1rem;
    margin-right: 1rem;
}

.company-mission-make-time-ally h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.company-mission-make-time-ally p {
    margin-bottom: 1.3rem;
    color: #1C1C37;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
}

.hear-they-say-us h3 {
    margin-bottom: 2rem;
    color: #373867;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.hear-they-say-us p {
    margin-right: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.hear-they-say-us .stisfied-customer {
    text-align: right;
    margin-top: 0.5rem;
    font-weight: 500;
}

.about-us-section h3 {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #373867;
    font-size: 1rem;
    font-weight: 700;
}

.about-us-section p {
    padding: 1rem;
    color: #373867;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;    
}

.about-us-text-img-wrapper {
    display: bock;
    justify-content: center;
    text-align: center;
} 

.security-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.our-products-section {
    margin-bottom: 5rem ;
}

.about-us-section img {
    max-width: 80%;
    width: max-content;
    height: 50%;
    margin-bottom: 5rem;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .about-us-text-img-wrapper{
        display: flex;
    }
    .about-us-section p {
        width: 50%;
    }
}

.our-products-section h2 {
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.our-products-section img {
    width: 80%;
    height: 50%;
    margin-top:1.5rem ;
    margin-bottom: 1.5rem;
}

.our-products-two-sections-wrapper {
    display: block;    
}

.our-products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}

@media only screen and (min-width: 1200px) {
    .our-products-two-sections-wrapper {
        display: flex;
    }
    .our-products-container {
        width: 50%;
    }
}

.our-products-container h3 {
    width: 80%;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.our-products-container p {
    width: 80%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.our-products-container li{
    font-size: 0.8rem;
}

.our-products-container li:before {
    content: '✓';
}

.company-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 5rem;
}

.company-section article {
    display: block;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.company-section .company-an-inclusive-wrap {
    display: block;
    justify-content: space-between;
    margin-bottom: 4rem;
    text-align: right;
}


.company-section h2 {
    margin-left: 2rem;
    margin-bottom: 7rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.company-section img {    
    width: 50%;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
}

@media only screen and (min-width: 768px) {
    .company-sections-wrap, .company-an-inclusive-wrap{
        display: flex;
    }   
}

.company-an-inclusive-wrap img {
    order: 1;
}

.company-section h3 {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.company-an-inclusive-wrap h3 {    
    text-align: right;
    margin-right: 2rem;
}

.support-img-text-container {
    display: block;
    justify-content: space-around;
}

@media only screen and (min-width: 1200px) {
    .support-img-text-container {
        display: flex;
    }   
}

.company-section p {
    flex-grow: 2;
    width: 90%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 0.85rem;
}

.support-section h2 {
    margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-decoration: underline;
}

.support-section img {
    width: 75%;
    margin-bottom: 1.5rem;
}

.support-section p {
    width: 75%;
    font-size: 1rem;
    font-weight: 500;
}

.support-img-and-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    text-align: center;
}

.tutorial-section h2 {
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
}

.tutorials-list-container {
    margin-left: 1rem;
}

.tutorials-list-container ol {
    margin: 0.5rem; 
    list-style: decimal;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
}

.texto-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0.6rem;
}

.tutorial-time {
    margin-left: 0.5rem;
    color: #1D22EC;
}

.tutorial-button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 5.5rem;
}

.tutorial-button button {
    padding: 1.8rem;
    background-color: #98220D;
    border-radius: 1.4rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    main {
      margin-left: 30%;
    }
}